HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
node_modules
lib

.~lock.*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

tst

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

build
test/build
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/



test/apiSchema.json

